Today we are learning python

- variables
- data type
- data structures
- function
- control flow
- OOP

In [ ]:
# assign a variable
my_name = "Bank"
age = 35
gpa = 3.86
movie_lover = True # False"

In [ ]:
# case sensitive
print(age, gpa, movie_lover, my_name)

35 3.86 True Bank

In [ ]:
# over write a value
age = 40
new_age = age - 12
print(age, new_age)

40 28

In [ ]:
s23_price = 30000
discount = 0.15 # 0.15 = 15/100
new_s23_price = s23_price * (1-discount)

print(new_s23_price)

25500.0

In [ ]:
# remove variable
del new_s23_price

In [ ]:
# count variable
age = 34
age += 1
age += 1
age -= 1
print(age)

35

In [ ]:
# data types
# int float str bool

In [ ]:
age = 34
gps = 3.86
school = "Ramkamhang"
movie_lover = True

In [ ]:
# check data types
print( type(age) )
print( type(gpa) )
print( type(school) )
print( type(movie_lover) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# convert type
x = 100
x = str(x)
print(x, type(x))

100 <class 'str'>

In [ ]:
y = False #T=1, F=0
y = int(y)
print(y, type(y))

0 <class 'int'>

In [ ]:
z = 1
z = bool(z)
print(z, type(z))

True <class 'bool'>

In [ ]:
text = "I'm learning python"
text2 = '"hahaha"'
print(text, text2)

I'm learning python "hahaha"

In [ ]:
text = "hello"
text + text

'hellohello'

In [ ]:
# type hint
age: int = "35"
my_name: str = "bank"
gpa: float = 3.86
saefood: bool = True

In [ ]:
print(age, type(age))

35 <class 'str'>

In [ ]:
# function
print("hello", "world")
print(pow(5, 2 ), abs(-5))

hello world
25 5

In [ ]:
# greeting()
def greeting(name="bank", location="London"):
        print("hello! " + name)
        print("He is in " + location)

In [ ]:
greeting("Wick", "Tokyo")

hello! Wick
He is in Tokyo

In [ ]:
def add_two_nums(num1, num2):
        print("hello")
        print("Done!")
        return num1 + num2

In [ ]:
result = add_two_nums(5, 20)
print(result)

hello
Done!
25

In [ ]:
def add_two_nums(a: int, b: int) -> int:
          return a+b

In [ ]:
add_two_nums(5, 6)

11

In [ ]:
# Work with string
text = "hello world"

long_text = """this is a
very long text
this is a new line"""

print(text)
print(long_text)

hello world
this is a
very long text
this is a new line

In [ ]:
# string template : fstring
my_name = "John Wick"
location = "London"

text = f"Hi my name is {my_name} and is live in {location}."

print(text)

Hi my name is John Wick and is live in London.

In [ ]:
text = "a duck walks into a bar"
print(text)

a duck walks into a bar

In [ ]:
# slicing, index starts with 0
print(text[0], text[-1], text[22])

a r r

In [ ]:
text

'a duck walks into a bar'

In [ ]:
# up to, but not include
text[-3: ]

'bar'

In [ ]:
# string is immutable
name = "Python" # -> Cython
name = "C" + name[1: ]

print(name)

Cython

In [ ]:
text = "a duck walks into a bar"

In [ ]:
text = text.upper()
print(text)

A DUCK WALKS INTO A BAR

In [ ]:
text.replace("duck", "lion")

'a lion walks into a bar'

In [ ]:
words = text.split(" ")
print(words, type(words))

['a', 'duck', 'walks', 'into', 'a', 'bar'] <class 'list'>

In [ ]:
"-".join(words)

'a-duck-walks-into-a-bar'

In [ ]:
# method = function สร้างเพื่อ object
# string methods
# string is immutable(ไม่สามารถอัพเดตตัวแปรได้ นอกจากจะประกาศตัวแปรใหม่)

In [ ]:
# data structure
# 1. list []
# 2.tuple ()
# 3. dictionary {}
# 4. set {unique}

In [ ]:
# 1. list is mutable
shopping_items = ["banana", "egg", "milks"]
shopping_items [0] = "pineapple"
print(shopping_items[0])
print(shopping_items[1])
print(shopping_items[2])
print( len(shopping_items))

pineapple
egg
milks
3

In [ ]:
# list method
shopping_items.append("milks")
print(shopping_items)

['pineapple', 'egg', 'milks', 'milks']

In [ ]:
# sort item  (ascending order  A-Z)
shopping_items.sort(reverse=True)   #desending order Z-A
print(shopping_items)

['pineapple', 'milks', 'egg', 'coke']

In [ ]:
def mean(score):
        return sum(score) / len(score)

In [ ]:
score = [92, 85, 74, 62, 50]
print(len(score), sum(score),
        min(score), max(score), mean(score))

5 363 50 92 72.6

In [ ]:
# remove last item
shopping_items.pop  # delete right
shopping_items

['pineapple', 'coke', 'egg']

In [ ]:
shopping_items.remove("egg")
shopping_items

['pineapple', 'coke']

In [ ]:
shopping_items.append("egg")
shopping_items

['pineapple', 'coke', 'egg']

In [ ]:
# insert()
shopping_items.insert(2, "milk")

In [ ]:
shopping_items

['pineapple', 'egg', 'milk', 'milks', 'milks']

In [ ]:
# list + list
item1 = ["egg", "milk"]
item2 = ["bread", "banana"]

print(item1 + item2)

['egg', 'milk', 'bread', 'banana']

In [ ]:
# tuple () is immutable
tup_item = ('egg', 'banana', 'pepsi')
tup_item

('egg', 'banana', 'pepsi')

In [ ]:
tup_item.count('egg')

1

In [ ]:
# user name + password
# student1, student2
s1 = ("id001", "456789")
s2 = ("id002", "123456")
user_pw = (s1, s2)

print(user_pw)

(('id001', '456789'), ('id002', '123456'))

In [ ]:
# tuple unpacking
username, password = s1

print(username, password)

id001 456789

In [ ]:
# tuple unpacking 3 value # _ ใส่แทนค่าตัวที่ไม่ต้องการ
name, age, _ = ("john wick", 42, 3.98)
print(name, age)

john wick 42

In [ ]:
# set {unique}
course = ["python", "python", "R", "SQL"]

In [ ]:
set(course)

{'R', 'SQL', 'python'}

In [ ]:
# dictionary
course = {
    'name' : 'Data Science Bootcamp',
    'duration' : '4 month',
    'student' : 200,
    'replay' : True,
    'Skill' : ['Google Sheet', 'SQL', 'R', 'Python', 'Stats', 'ML', 'Dashborad', 'Data Tranformation']
}

In [ ]:
course

{'name': 'Data Science Bootcamp',
 'duration': '4 month',
 'student': 200,
 'replay': True,
 'Skill': ['Google Sheet',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashborad',
  'Data Tranformation']}

In [ ]:
course["Skill"]

['Google Sheet',
 'SQL',
 'R',
 'Python',
 'Stats',
 'ML',
 'Dashborad',
 'Data Tranformation']

In [ ]:
#insert dict
course["Start_Time"] = "9am"

course["language"] = "thai"

In [ ]:
course

{'name': 'Data Science Bootcamp',
 'duration': '4 month',
 'student': 200,
 'replay': True,
 'Skill': ['Google Sheet',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashborad',
  'Data Tranformation'],
 'Start_Time': '9am',
 'language': 'thai'}

In [ ]:
#delete dict
del course["language"]
course

{'name': 'Data Science Bootcamp',
 'duration': '4 month',
 'student': 200,
 'replay': True,
 'Skill': ['Google Sheet',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashborad',
  'Data Tranformation'],
 'Start_Time': '9am'}

In [ ]:
course['Skill'][0:3]

['Google Sheet', 'SQL', 'R']

In [ ]:
list( course.keys())

['name', 'duration', 'student', 'replay', 'Skill', 'Start_Time']

In [ ]:
list( course.values())

['Data Science Bootcamp',
 '4 month',
 200,
 True,
 ['Google Sheet',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashborad',
  'Data Tranformation'],
 '9am']

In [ ]:
list( course.items())

[('name', 'Data Science Bootcamp'),
 ('duration', '4 month'),
 ('student', 200),
 ('replay', True),
 ('Skill',
  ['Google Sheet',
   'SQL',
   'R',
   'Python',
   'Stats',
   'ML',
   'Dashborad',
   'Data Tranformation']),
 ('Start_Time', '9am')]

In [ ]:
course.get("replay")

True

In [ ]:
# control flow
# if for while

In [ ]:
def grade(score):
      if score >=120 :
        return "Excellent"
      elif score >=100:
        return "Good"
      elif score >=80:
        return "Okay"
      else:
        return "Need t read more"

In [ ]:
result = grade(50)
print(result)

Need t read more

In [ ]:
# use and, or in codition
# course == data science, score >= 80 passed
# course == english, score >= 70 passed
def grade(course, score):
  if course == "english" and score >= 70:
    return "passed"
  elif course == "data science" and score >= 80:
    return "passed"
  else:
    return "failed"

In [ ]:
grade("english", 80)

'passed'

In [1]:
not True

False

In [5]:
# for loop
#  if score >=80, passed
def grading_all(scores):
        new_scores = []
        for score in scores:
              new_scores.append(score+2)
        return new_scores

In [6]:
grading_all([75, 88, 90, 95, 52])

[77, 90, 92, 97, 54]

In [13]:
# list comprehension
scores = [75, 88, 90, 95, 52]

In [16]:
new_scores = [s*2 for s in scores]
new_scores

[150, 176, 180, 190, 104]

In [15]:
# list comprehension
friends = ["toy", "ink", "bee", "zue", "yos"]
[ f.upper() for f in friends]

['TOY', 'INK', 'BEE', 'ZUE', 'YOS']

In [17]:
# while loop
count = 0

while count < 5:
      print("hello")
      count += 1

hello
hello
hello
hello
hello

In [19]:
# chatbot for fruit order
user_name = input("What is your name? ")

What is your name? John wick

In [28]:
def chatbot():
      fruits = []
      while True:
            fruit = input("What fruit do you want to order? ")
            fruits.append(fruit)
            if fruit == "exit":
              return fruits

In [29]:
chatbot ()

What fruit do you want to order? gg
What fruit do you want to order? dd
What fruit do you want to order? ss
What fruit do you want to order? exit

['gg', 'dd', 'ss', 'exit']

In [30]:
# oop - object oriented programing
# dog class

In [41]:
class Dog:
      def __init__(self, name, age, breed):
          self.name = name
          self.age = age
          self.breed = breed

In [42]:
dog1 = Dog("Oval", 3, "Chihuahua")
dog2 = Dog("Milo", 4, "bulldog")
dog3 = Dog("Pepsi", 5, "pug")

In [40]:
dog1.name

'Oval'

In [45]:
print(dog1.name, dog1.age, dog1.breed)
print(dog2.name, dog2.age, dog2.breed)
print(dog3.name, dog3.age, dog3.breed)

Oval 3 Chihuahua
Milo 4 bulldog
Pepsi 5 pug

In [72]:
class Employee:
        def __init__(self, id, name, dept, pos):
          self.id = id
          self.name = name
          self.dept = dept
          self.pos = pos
        def hello(self):
              print(f"Hello! my name is {self.name}")

        def work_hours(self, hours):
              print(f"{self.name} work for {hours} hours.")

        def change_dept(self, new_dept):
              self.dept = new_dept
              print(f"{self.dept} is now in {self.dept}.")

In [73]:
emp1 = Employee(1, "John", "finance", "Finacial Analyst")

In [75]:
print(emp1.name, emp1.pos)

John Finacial Analyst

In [70]:
emp1.hello()

Hello! my name is John

In [76]:
emp1.work_hours(10)

John work for 10 hours.

In [77]:
emp1.dept

'finance'

In [78]:
emp1.change_dept("Data Science")

Data Science is now in Data Science.

In [79]:
emp1.dept

'Data Science'

In [82]:
class ATM:
      def __init__(self, name, bank, balance):
        self.name = name
        self.bank = bank
        self.balance = balance

      def deposit(self, amt):
            self.balance += amt

scb = ATM("toy", "scb", 500)
print(scb.balance)

scb.deposit(200)
print(scb.balance)

500
700